:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --primary-accent-color: #2196f3;
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */

.page {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid tomato; */
}

/* цвет секции для разметки (мне в помощь)*/
/*  
.company {
  background-color: brown;
}
.advantage {
  background-color: chartreuse;
}
.aboutus {
  background-color: darkblue;
}

.customers {
  background-color: gold;
}
*/

/*  */

.our-team {
  background-color: #f5f4fa;
}

.person-item {
  background-color: var(--primary-bg-color);
}

.advantage-item {
  display: flex;
}

.aboutus-item {
  display: flex;
}

.advantage-img {
  width: 70px;
  height: 70px;
}

.block {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantage-img-item:not(:first-child) {
  margin-left: 30px;
}

. .list-item {
  margin-top: 0;
  margin-bottom: 0;
}

.list .product:not(:first-child) {
  margin-left: 30px;
}

.person-item:not(:first-child) {
  margin-left: 30px;
}

a {
  text-decoration: unset;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.aktcent {
  color: var(--primary-accent-color);
}

.list,
.list-product {
  padding: 0;
  margin: 0;
  list-style: none;
}

.team-person {
  display: flex;
}

.site-nav,
.contact {
  font-family: Roboto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-nav {
  color: var(--primary-text-color);

  /* background-color: indianred; */
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link-contact {
  color: var(--secondary-text-color);
}

.contact .item + .item {
  margin-left: 30px;
}

.site-nav.list {
  margin-left: 85px;
}

.site-nav .link-nav:hover,
.site-nav .link-nav:focus,
.contact .link-contact:hover,
.contact .link-contact:focus {
  color: var(--primary-accent-color);
}

.site-nav .link-nav.current {
  color: var(--primary-accent-color);
}

.site-nav {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  margin-left: auto;
}

.main {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #ececec;
}

.site-nav .item:last-child {
  margin-right: 0;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.company {
  text-align: center;
}

/* .container .company-title { 
  width: 696;
}*/

.company-item {
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.company-title {
  /* color: #ffffff; */
  margin-top: 0;
  margin-bottom: 30px;

  width: 696px;
  font-family: Roboto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-title {
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-subtitle {
  color: var(--primary-text-color);

  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  /* text-align: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage {
  margin-top: 0;
  margin-bottom: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.aboutus {
  padding-top: 0px;
}

/*Наша команда */

.team-photo {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
}

.team-title {
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-top: 0;
  margin-bottom: 16px;
}

.button {
  color: var(--primary-bg-color);
  background-color: var(--primary-accent-color);
  font-family: inherit;

  border-radius: 4px;
  min-width: 200px;
  border: 1px solid transparent;

  display: inline-block;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.advantage-img-item .advantage {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

.advantage-info {
  height: 251px;
}

.list-item-aboutus {
  margin-top: 0;
  margin-bottom: 0;

  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0px;
  padding-top: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  background: rgba(47, 48, 58, 0.8);
}

.product {
  position: relative;
}

.product-image {
  display: block;
}

.social-link {
  display: flex;
  align-items: center;
}

.social-link-list {
  margin-right: 10px;
  padding-bottom: 24px;
}

.social-link-list:last-child {
  margin-right: 32;
}

.social-link-list:first-child {
  margin-left: 32px;
}

/* .social-link .social-nav:hover, 
.social-link .social-nav:focus {
  color: var(--primary-accent-color);
}*/

.social-nav {
  display: block;
}

/* Постоянные клиенты */

.customers-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customers-list .item:first-child {
  height: 90px;
}

.customers-list .item:not(:last-child) {
  margin-right: 30px;
}

.customers-link {
  display: block;
  width: 170px;
  height: 90px;
  /* border: 1px solid purple; */
}

.customers {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* страница портфолио */

.section-portfolio {
  padding-bottom: 94px;
}

.main-portfolio {
  padding-top: 93px;
}

.portfolio-header {
  margin: 0;
  height: 0;
  color: transparent;
}

.nav-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.nav-portfolio .item + .item {
  margin-left: 8px;
}

.portfolio-item {
  display: flex;
  flex-wrap: wrap;
}

.works {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.works a {
  display: block;
}

.works-content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.works-image {
  display: block;
  height: 294px;
}

.works:nth-child(3n) {
  margin-right: 0;
}

.works:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.button-nav {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: 1px solid transparent;
  display: inline-block;
  padding: 10px 32px;
}

.button-customers {
  display: inline-block;
  outline: red;
}

.list-product .button-nav:hover,
.list-product .button-nav:focus {
  color: var(--primary-bg-color);
  background-color: var(--primary-accent-color);
}

.list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0px;
  margin-bottom: 0px;
}

.list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);

  margin-top: 4px;
  margin-bottom: 0px;
}

.works-list {
  color: var(--primary-text-color);
}

.technokryak {
  margin-bottom: 0;

  display: none;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
}

/* Футер */

footer {
  background-color: #2f303a;
  color: var(--primary-bg-color);
}
.footer-content {
  display: flex;
  align-items: baseline;

  padding-top: 60px;
  padding-bottom: 60px;

  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

.footer-address {
  margin-right: 69px;
}

.address {
  margin-top: 20px;
}

.subscription {
  margin-right: 94px;
}

.action {
  margin-bottom: 20px;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.link-ikon {
  color: rgba(255, 255, 255, 0.6);
}

.developed {
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;

  color: rgba(255, 255, 255, 0.4);
}

.social-link-reverce {
  display: flex;
}

.social-link-reverce {
  margin-right: 10px;
  margin-bottom: 0;
}

.social-link-reverce:last-child {
  margin-right: 0px;
}
.list-address:first-child {
  margin-bottom: 9px;
}

.list-address:last-child {
  margin-top: 3px;
}
